<<<<<<< HEAD
/* CallPage.css */
=======
>>>>>>> 6a43db5ac4abff2c3e93161954d8615bb3bfbbd7
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 2vh 2vw;
  width: 100vw;
  height: 100vh;
  background-color: #f9f9f9;
  box-sizing: border-box;
}
<<<<<<< HEAD

=======
>>>>>>> 6a43db5ac4abff2c3e93161954d8615bb3bfbbd7
