.pre-join-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 30px 20px;
  width: 100%;
  max-width: 550px;
  border: none;
  border-radius: 20px;
  background: #f0f0f0;
  margin: 70px auto;
}

.pre-join-container > .video-preview {
  width: 300px;
  height: 200px;
  background: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  overflow: hidden;
}

.local-video-preview {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.camera-off-preview {
  color: #fff;
  font-size: 16px;
  font-family: 'progresspixel-bold';
}

.pre-join-container > .controls {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
}

.pre-join-container > .controls > .up {
  width: 100%;
  margin-bottom: 15px;
  display: flex;
  justify-content: center;
}

.pre-join-container > .controls > .up > input[type='text'] {
  width: 100%;
  max-width: 450px;
  height: 40px;
  font-size: 14px;
  color: white;
  font-family: 'progresspixel-bold';
  border: none;
  border-radius: 13px;
  background-color: #d9d9d9;
  padding: 10px;
  box-sizing: border-box;
}

.pre-join-container > .controls > .up > input[type='text']::placeholder {
  color: white;
  font-family: 'progresspixel-bold';
  font-size: 12px;
}

.pre-join-container > .controls > .down {
  width: 94%;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.pre-join-container > .controls > .down > button {
  flex: 1;
  padding: 10px;
  max-width: 220px;
  background-color: #d9d9d9;
  color: #4399ff;
  font-family: 'progresspixel-bold';
  border: none;
  border-radius: 15px;
  cursor: pointer;
  font-size: 14px;
}

.pre-join-container > .controls > .down > button:hover {
  background-color: #cecdcd;
}

.pre-join-container > .action-buttons {
  display: flex;
  justify-content: center;
  margin-top: 15px;
  gap: 10px;
}

.pre-join-container > .action-buttons > button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  color: white;
  border: none;
  border-radius: 20px;
  font-family: 'progresspixel-bold';
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s, opacity 0.3s;
}

.pre-join-container > .action-buttons > .start-button {
  background-color: #a4cea3;
}

.pre-join-container > .action-buttons > .cancel-button {
  background-color: #e0bdbd;
}

.pre-join-container > .action-buttons > .start-button:hover {
  background-color: #97c096;
}

.pre-join-container > .action-buttons > .cancel-button:hover {
  background-color: #d6aeae;
}
