.chat-container {
  width: 330px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #f0f0f0;
  border-radius: 20px;
  overflow-y: hidden;
  margin: 0 10px;
}

.messages {
  flex: 1;
  overflow-y: auto;
  padding: 10px 15px;
}

.message {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 0;
  color: #888;
  font-family: 'progresspixel-bold';
}

.timestamp {
  margin-left: auto;
  font-size: 0.8em;
  color: #888;
}

.chat-container > .input-area {
  display: flex;
  padding: 10px;
}

.chat-container > .input-area > input {
  width: 100%;
  max-width: 450px;
  height: 40px;
  font-size: 14px;
  color: white;
  font-family: 'progresspixel-bold';
  border: none;
  border-radius: 10px 0 0 10px;
  background-color: #d9d9d9;
  padding: 10px;
  box-sizing: border-box;
  outline: none;
}

.chat-container > .input-area > input::placeholder {
  color: white;
  font-family: 'progresspixel-bold';
  font-size: 12px;
}

.chat-container > .input-area > button {
  padding: 10px 20px;
  cursor: pointer;
  background-color: #d9d9d9;
  border-radius: 0 10px 10px 0;
  font-family: 'progresspixel-bold';
  text-align: center;
  border: none;
}

.chat-container > .input-area > button > svg {
  color: #4399ff;
  font-size: 15px;
}
