@font-face {
  font-family: 'Typo pixel Regular';
  src: url('../fonts/typo_pixel_regular.eot'); /* IE 9 Compatibility Mode */
  src: url('../fonts/typo_pixel_regular.eot?#iefix') format('embedded-opentype'), /* IE < 9 */ url('../fonts/typo_pixel_regular.woff2') format('woff2'),
    /* Super Modern Browsers */ url('../fonts/typo_pixel_regular.woff') format('woff'),
    /* Firefox >= 3.6, any other modern browser */ url('../fonts/typo_pixel_regular.ttf') format('truetype'),
    /* Safari, Android, iOS */ url('../fonts/typo_pixel_regular.svg#typo_pixel_regular') format('svg'); /* Chrome < 4, Legacy iOS */
}

@font-face {
  font-family: 'progresspixel-bold';
  src: url('../fonts/progresspixel-bold.eot'); /* IE 9 Compatibility Mode */
  src: url('../fonts/progresspixel-bold.eot?#iefix') format('embedded-opentype'), /* IE < 9 */ url('../fonts/progresspixel-bold.woff2') format('woff2'),
    /* Super Modern Browsers */ url('../fonts/progresspixel-bold.woff') format('woff'),
    /* Firefox >= 3.6, any other modern browser */ url('../fonts/progresspixel-bold.ttf') format('truetype'),
    /* Safari, Android, iOS */ url('../fonts/progresspixel-bold.svg#progresspixel-bold') format('svg'); /* Chrome < 4, Legacy iOS */
}
